.DS_Store
*.log
target/
generated/
node_modules/
dist/
build/
nodejs/
npm/
bin/
.idea/
*.iml
logs/
out/
*.zip
*.swp
*.swo
.project
.settings
.tern-project
.env-*

pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar
